.App {
  text-align: center;
  padding-top: 60px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Header =================================================== */

.header {
  background-color: black;
  color: white;
  height: 50px;
  width: 100%;
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.header-content-left {
  padding: 10px 15px 10px 15px;
  background-color: grey;
}

.header-content-right {
  padding: 10px 15px 10px 15px;
  background-color: grey;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

.nav-item {
  text-decoration: none;
  margin: 0px 2px 0px 2px;
}


/* Dashboard ================================================ */

.selection {
  height: 100px;
  width: 100%;
  background-color: grey;
}

.featured {
  height: 100vh;
  width: 100%;
  background-color: honeydew;
}